/*header*/

.nav-item {
    padding: 3%;
}

.search {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
}

.searchbar {
    max-height: 40px;
}

.btn-nav {
    max-height: 40px;
    margin-top: 2%;
}

/* home.php */

.card-title {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.btn {
    margin-bottom: 8%;
    margin-left: 5%;
    background-color: beige;
    white-space: nowrap;
}

.card-img-top {
    max-height: fit-content;
}

.h2 {
    margin-top: 3%;
    padding: 2%;
    background-color: beige;
}

.b_element {
    display: flex;
}

.card {
    margin: 5%;
}


/* Admin.php */

.admin_row{
    padding-bottom: 20px;
}

.btn-save {
    margin-top: 20px;
}

.bg {
    background-color: beige;
}

.admin-table {
    table-layout: fixed;
    width: 100%;
}

/*login.php*/

.login-form {
    margin-left: 5%;
}

/*user.php*/

.user {
    margin-left: 5%;
}

/*book.php*/

.b-btn {
    margin-top: 3%;
}

.b-d {
    margin-top: 3%;
    margin-left: 8%;
}

.b-img {
    margin-left: 40%;
}


/*searchresult*/

#result{
    padding: 10px;
    width: 400px;
    margin: auto;
    display: none;
}

#img{
    vertical-align: middle;
}

#item{
    margin: 5px;
    padding: 5%;
    display: flex;
    border: 1px silver;
}

.search_title{
    color: rgb(0, 0, 0);
    text-decoration: none;
}